@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --primary-color: #ff6666;
  --secondry-color: #ffff;
  --third-color: #ff7676;
}

body {
  font-family: "Quicksand", sans-serif !important;
  /* background-color: black; */
}

.card {
  background-color: var(--primary-color);
  box-shadow: -17px -19px 0 0 rgb(0 0 0 / 10%);
  width: 500px;
  height: 621px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  color: var(--secondry-color);
}

.card-header {
  width: 394px;
  padding-top: 40px !important;
  padding-left: 50px;
  font-size: 50px;
}

.description {
  font-size: 15px;
  letter-spacing: 1.5px;
  padding-top: 2px;
  opacity: 95%;
}

.card-line {
  color: var(--secondry-color);
  width: 400px;
  height: 1px;
  margin: 0px auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--secondry-color);
  padding-top: 10px;
  opacity: 50%;
}

.todoList {
  padding-top: 40px;
}

.todoList-element {
  margin: 4px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.todoItem-container {
  display: flex;
  justify-content: space-between;
}

.todoItem {
  font-size: 20px;
  background-color: var(--third-color);
  transition: transform 1s;
}

.pointer:hover {
  cursor: pointer;
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.checked {
  position: relative;
  opacity: 70%;
}

.checked::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0%;
  height: 1px;
  background: var(--secondry-color);
  animation-name: strike;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.sort-container {
  display: flex;
  justify-content: flex-end;
}

.sort-description {
  padding-right: 10px;
}

/*Source: https://codepen.io/wilsonpage/pen/cxKEs?css-preprocessor=less
Switch: Begin*/
.switch-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  text-align: center;
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px;
  height: 22px;
  width: 40px;
  background: var(--secondry-color);
  border-radius: 1em;
}

.switch div {
  height: 18px;
  width: 18px;
  border-radius: 1em;
  background: var(--third-color);
  margin: 2px;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);

  background: var(--primary-color);
}

/*Switch: End*/

ul {
  list-style-type: none;
  padding-left: 0;
}

/*AddItem: Begin*/
.addItem-description {
  width: 394px;
  /* padding-top: 10px !important; */
  padding-left: 50px;
  font-size: 30px;
}

input.inherit {
  font-family: inherit;
}

.addItem-input {
  font-size: 16px;
  padding: 12px 24px 12px 24px;
  margin-left: 50px;
  margin-top: 5px;
  margin-right: 5px;
  width: 230px;
}

.toDoList-button {
  background: none;
  background-color: var(--primary-color);
  border: 0.5px solid var(--secondry-color);
  color: var(--secondry-color);
  font-size: 13px;
  font-weight: bold;
  padding: 14px 24px 14px 24px;
  outline: none;
  cursor: pointer;
}

button:active{
  outline: none;
}
/*AddItem: End*/
